/* base */
body {
   margin: 0;
   padding: 0;
   font-family: Lato, serif;
}

.seo__toggle-btn {
   font-family: Lato, serif;
}

/* utils */
.u-max-width {
   width: 95%;
   max-width: 1300px;
   margin: auto;
}

/* banner */
.banner {
   display: block;
   width: 100%;
}

.banner__event {
   margin-bottom: 0.5rem;
}

/* nav */
.nav {
   display: none;
   margin: 1rem auto 2rem;
   padding-bottom: 0.8rem;
   gap: 0.5rem;
   overflow-x: auto;
   scroll-snap-type: x mandatory;
}

.nav-item {
   padding: 0.6rem;
   border: 1px solid #dadada;
   border-radius: 5px;
   text-align: center;
   box-sizing: border-box;
   scroll-snap-align: start;
   transition: 0.5s;
   text-decoration: none;
   color: #000;
   white-space: nowrap;
   display: inline-block;
   font-size: 14.5px;
}

.nav-item:hover {
   background-color: #e5e5e5;
   font-weight: 400;
}

.nav-item--active,
.nav-item--active:hover {
   background-color: #000;
   color: #fff;
   font-weight: 600;
}

.nav-item--selected {
   background-color: #000;
   color: #fff;
   font-weight: 700;
}

.nav-item--selected:hover {
   background-color: #000;
   color: #fff;
   font-weight: 700;
}

.nav-item--view-all.nav-item--selected {
   background-color: #00f400;
   color: #000;
   border: 1px solid #00f400;
}

.nav-item--view-all.nav-item--selected:hover {
   background-color: #00f400;
   color: #000;
   border: 1px solid #00f400;
}

/* container */
.main-container {
   width: 100%;
   margin: auto;
   box-sizing: border-box;
}

.categorias-container {
   display: grid;
   gap: 0.5rem;
   grid-template-columns: repeat(2, 1fr);
   opacity: 0;
   transform: translateY(20px);
   transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

.categorias-container--show {
   opacity: 1;
   transform: translateY(0);
}

/* template */
.template__link {
   text-decoration: none;
   text-align: center;
   text-wrap: balance;
   color: #000;
   font-size: 14px;
   line-height: 18px;
   transition: opacity 0.3s;
   opacity: 1;
   display: block;
}

.template__link:hover {
   color: #000;
   text-decoration: underline;
   text-underline-position: under;
}

.template__image {
   display: block;
   width: 100%;
   border: 1px solid #dfdfdf;
   border-radius: 5px;
   box-sizing: border-box;
   margin-bottom: 0.5rem;
   aspect-ratio: 1;
   object-fit: contain;
   pointer-events: none;
}

.template__media-wrapper {
   position: relative;
}

.template__tag {
   position: absolute;
   bottom: 0;
   right: 0;
   background-color: #aad500;
   display: inline;
   padding: 0.3rem 0.6rem;
   color: #000;
   border-top-left-radius: 7px;
   border-bottom-left-radius: 7px;
   letter-spacing: -0.2px;
   box-sizing: border-box;
}

.template__tag--bold {
   font-weight: 600;
}

.template__tag--mobile {
   bottom: 0;
   width: 100%;
   padding: 0.2rem;
   top: inherit;
   margin: 0;
   text-align: center;
   border-radius: 0;
   font-size: 12.5px;
}

.template__tag--desk {
   display: none;
}

.template__title,
.categorias-span,
.template__media-wrapper {
   pointer-events: none;
}

.template__title {
   word-break: break-word;
   font-size: 14px;
}

.newBlackOferta {
   border: 1px solid #aad500;
}

/* seo */
.seo {
   display: none;
   width: 100%;
   background-color: #f6f6f6;
   padding: 2.5rem 0;
   box-sizing: content-box;
   margin-top: 3rem;
}

.seo__heading {
   font-weight: 400;
   font-size: 18px;
   margin-bottom: 1.5rem;
   color: #181818 !important;
}

.seo__text {
   font-size: 14.5px;
   line-height: 22px;
}

.seo__text > strong {
   color: #6a6a6a;
}

.seo__toggle-btn {
   display: block;
   margin: 1.5rem 0 0;
   padding: 0.8rem 1.2rem;
   border: 1px solid;
   font-weight: 700;
   background-color: transparent;
   color: #000;
   cursor: pointer;
   font-size: 12px;
   border-radius: 5px;
   transition: 0.3s;
   text-transform: uppercase;
}

.seo__toggle-btn:hover {
   background-color: #d9d9d9;
}

.seo__container > :not(.seo__toggle-btn) {
   color: #888;
}

.seo__content {
   display: none;
}

/* skeleton */
.skeleton {
   display: flex;
   flex-direction: column;
   background: #fff;
   border-radius: 5px;
   overflow: hidden;
}

.skeleton-image {
   margin-bottom: 1rem;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 165px;
   background: linear-gradient(-45deg, #ddd, #f0f0f0, #ddd, #f0f0f0);
   background-size: 400% 400%;
   animation: 2.25s infinite Gradient;
}

.skeleton-image svg {
   width: 60px;
   height: 45px;
   fill: #c4c4c4;
}

.skeleton-text {
   width: 80%;
   height: 12px;
   background: linear-gradient(-45deg, #ddd, #f0f0f0, #ddd, #f0f0f0);
   border-radius: 4px;
   margin: auto;
   animation: 2.25s infinite Gradient;
}

.skeleton-container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 1rem;
   row-gap: 2rem;
   margin-top: 2rem;
   margin-bottom: 2rem;
}

/* cmr logo */
.cmr-logo-img {
   width: 55px;
   height: auto;
   vertical-align: middle;
   margin-left: 5px;
}

/* animation */
@keyframes Gradient {
   0%,
   100% {
      background-position: 0 50%;
   }
   50% {
      background-position: 100% 50%;
   }
}

/* media */
@media (max-width: 300px) {
   .nav {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media (min-width: 768px) {
   .categorias-container,
   .skeleton-container {
      grid-template-columns: repeat(6, 1fr);
   }

   .categorias-container {
      display: grid;
      gap: 1rem;
   }

   .categorias-title {
      padding-top: 5rem;
   }

   .seo__container {
      width: 100%;
   }

   .skeleton-image {
      height: 200px;
   }

   .banner__event {
      margin-bottom: 0;
   }
}

@media (min-width: 900px) {
   .u-max-width,
   .nav,
   .section {
      width: 100%;
   }

   .template__tag--mobile {
      display: none;
   }

   .template__tag--desk {
      display: block;
   }
}

@media (min-width: 1300px) {
   .nav {
      justify-content: space-between;
      overflow-x: visible;
      padding: 0;
   }

   .nav-item {
      flex: 1 1 auto;
      text-align: center;
      max-width: 100%;
   }
}
